<div class="footer-container">
  <div class="row">
    <div class="footer-logo">hammamparis.com</div>
    <div class="text" style="line-height: 1.8;">
      When you feel like your daily work routine really exhausted you, feel free
      to come by. Our professional masseurs will do their best to sooth and calm
      your body & mind!
    </div>
    <div class="socials-container">
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-google-plus"></i>
      <i class="fa fa-linkedin"></i>
      <i class="fa fa-youtube"></i>
    </div>
  </div>
  <!-- Row End -->
  <div class="row">
    <div class="footer-title">RECENT POSTS</div>
    <div class="footer-post-item">
      <div class="mini-title">Audio Post</div>
      <div class="post-desc">POSTED BY ADMIN <a href="">SEPTEMBER 18, 2018</a></div>
    </div>
    <!--  -->
    <div class="footer-post-item">
      <div class="mini-title">Audio Post</div>
      <div class="post-desc">POSTED BY ADMIN <a href="">SEPTEMBER 18, 2018</a></div>
    </div>
    <!--  -->
  </div>
  <!-- Row End -->
  <div class="row">
    <div class="footer-title">Contact Us</div>
    <div class="text" style="margin-bottom: 1rem;">{{site.data.company.address}}</div>
    <div class="text">Email: <span>{{site.data.company.email}}</span></div>
    <div class="text">Phone: <span>{{site.data.company.phone}}</span></div>
  </div>
  <!-- Row End -->
  <div class="row">
    <div class="footer-title">JOIN OUR NEWSLETTER</div>
    <div class="text">Note: <span>Spectators are our passion. Creation is our core.</span></div>
    <div class="input-container">
      <input type="text" placeholder="ENTER YOUR EMAIL">
      <i class="fa fa-paper-plane"></i>
    </div>
  </div>
</div>
<div class="copyright">Copyright © 2018 All rights reserved. BHinternet</div>

<script src="../assets/js/fontawesome.js"></script>
