<div class="footer-container">
  <div class="row">
    <div class="footer-logo">hammamparis.com</div>
    <div class="text">
      When you feel like your daily work routine really exhausted you, feel free to come by. Our professional masseurs will do their best to sooth and calm your body & mind!
    </div>
    <div class="socials-container">
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-google-plus"></i>
      <i class="fa fa-linked-in"></i>
      <i class="fa fa-youtube"></i>
    </div>
  </div>
</div>

<script src="../assets/js/fontawesome.js"></script>
