<div class="footer-container">
  <div class="row">
    <div class="footer-logo">Osteopathe Montgeron</div>
    <div class="text">
      Vous méritez de tirer le meilleur parti possible de la vie, ainsi à la
      clinique Ostéopathe Mongeron, nous pouvons vous aider. Qu’il s’agisse de
      douleurs au cou, de maux de tête, de maux de dos, de la fatigue, de
      maladie ou d’autres affections, notre mission est de vous mettre sur la
      voie du rétablissement le plus rapidement possible en utilisant les
      traitements ostéopathiques. Nos soins ostéopathiques consistent à fournir
      l’équilibre et la vitalité à votre corps afin que vous puissiez apprécier
      une vie saine.
    </div>
    <div class="socials-container">
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-google-plus"></i>
      <i class="fa fa-linked-in"></i>
      <i class="fa fa-youtube"></i>
    </div>
  </div>
</div>

<script src="../assets/js/fontawesome.js"></script>
