<div class="navbar-container">
  <div class="top-container">
    <div class="text">Osteopathe Mongeron</div>
    <div class="right-side">
      <i class="fa fa-star"></i>
      <i class="fa fa-map-marker"></i>
      <div class="address text">{{site.data.company.address}}</div>
    </div>
  </div>

  <div class="navbar">
    <div class="logo">Osteopathe Montgeron</div>
    <div class="links-container">
      <a class="nav-link active">Accueil</a>
      <a class="nav-link">Notre Enterprise</a>
      <a class="nav-link">Nos Services</a>
      <a class="nav-link">Contact</a>
      <a class="nav-link">Rendez Vous</a>
      <i class="fa fa-bars"></i>
    </div>
    <div class="mobile-nav-container">
      <a class="mobile-nav-link active">Accueil</a>
      <a class="mobile-nav-link">Notre Enterprise</a>
      <a class="mobile-nav-link">Nos Services</a>
      <a class="mobile-nav-link">Contact</a>
      <a class="mobile-nav-link">Rendez Vous</a>
    </div>
  </div>
</div>
