<div class="navbar-container">
  <div class="top-container">
    <div class="text">Proudly massaging people since 1998!</div>
    <div class="right-side">
      <i class="fa fa-map-marker-alt"></i>
      <div class="address text">{{site.data.company.address}}</div>
    </div>
  </div>

  <div class="navbar">
    <div class="logo">hammamparis.com</div>
    <div class="links-container">
      <a href="{% link accueil.html %}" class="{% if page.url == '/' %} active {% endif %} nav-link">Accueil</a>
      <a href="{% link notre-spa.html %}" class="{% if page.url == '/notre-spa' %} active {% endif %} nav-link">Notre Spa</a>
      <a href="{% link service.html %}" class="{% if page.url == '/service' %} active {% endif %} nav-link">Nos Services</a>
      <a href="{% link contact.html %}" class="{% if page.url == '/contact' %} active {% endif %} nav-link">Contact</a>
      <a href="{% link reservation.html %}" class="{% if page.url == '/reservation' %} active {% endif %} nav-link">Réservation</a>
      <i class="fa fa-bars mobile-nav-toggle"></i>
    </div>
    <div class="mobile-nav-container">
      <a href="{% link accueil.html %}" class="{% if page.url == '/' %} active {% endif %} mobile-nav-link active">Accueil</a>
      <a href="{% link notre-spa.html %}" class="{% if page.url == '/notre-spa' %} active {% endif %} mobile-nav-link">Notre Spa</a>
      <a href="{% link service.html %}" class="{% if page.url == '/service' %} active {% endif %} mobile-nav-link">Nos Services</a>
      <a href="{% link contact.html %}" class="{% if page.url == '/contact' %} active {% endif %} mobile-nav-link">Contact</a>
      <a href="{% link reservation.html %}" class="{% if page.url == '/reservation' %} active {% endif %} mobile-nav-link">Réservation</a>
    </div>
  </div>
</div>


<script>
  document.querySelector(".mobile-nav-toggle , *").addEventListener("click", () => {
    document.querySelector(".mobile-nav-container").classList.toggle("active")
  })

</script>